.text-template {
        color: white;
    }
    .font {
        font-family: rufina, serif;
    }
    #searchResult {
    z-index: 99999;
    border-radius: 10px;
    }

    .sidebar {
    width: 260px;
    height: 100vh;
    border-right: 1px solid #eee;
    background: #FFFFFF;
    }

    .nav-link {
        color: #000;
        padding: 14px 20px;
        border-radius: 0;
        font-weight: 600;
        transition: .2s;
    }

    .nav-link:hover {
        background-color: #eee;
        color: #504060;
    }

    .nav-link.active {
        background-color: #504060 !important;
        color: #fff !important;
        font-weight: bold;
    }

    .nav-link i {
        font-size: 18px;
    }


    @media (max-width: 991px) {

    .header-button {
        display: none !important;
    }

    .header-desktop{
        display: none !important;
    }
    }

    