.custom-testimonial-card {
    background-color: #f1dde6;
    border-radius: 20px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-testimonial-card .quote-icon i {
    font-size: 32px;
    color: #4a2d63;
}

.rating i {
    font-size: 20px;
}

.testimonial-text {
    font-size: 15px;
    color: #4a2d63;
    line-height: 1.5;
}

.profile-name {
    font-weight: 600;
    color: #4a2d63;
}

.filter-active {
    background-color: #2B143B !important;
    color: white !important;
}

.dropdown-toggle::after {
    display: none !important; /* Hilangi icon default */
} 