name: Auto Deploy to FTP

on:
  push:
    branches:
      - main   # atau master sesuai branch kamu

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Deploy to FTP Server
      uses: SamKirkland/FTP-Deploy-Action@4.3.3
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        protocol: ftps
        port: ${{ secrets.FTP_PORT || 21 }}
        local-dir: ./
        server-dir: public_html/
        exclude: |
          **/.git*
          **/.github*
          **/.git/** 
          **/.gitignore
          **/README.md